body {
    background-color: #17202a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding: 40px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: #f39c12;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h2 {
    font-family: Papyrus, Fantasy;
    font-weight: bold;
    font-size: 40px;
    color: #FFF9D0;
    margin-top: 20px;
    margin-bottom: 15px;
}

p {
    font-family: Courier New, Monospace;
    font-size: 18px;
    margin-bottom: 20px;
}

strong {
    color: #FEAE6F;
    font-size: 24px;
}
